# собранный бинарь
/megapolos-installer

# артефакты бандла (генерируются vm/make-bundle*.sh)
/bundle/debs/
/bundle/repos/
/bundle/pg/
/bundle/docker/
/bundle/installer
/bundle/install.sh
/bundle/INFO.txt
/bundle/*.sqfs
/bundle/*.tar.gz
/bundle/pip/
/bundle/ansible-collections/
/bundle/node_modules-megapolos-core.tar.gz
/bundle/node_modules-megapolos-gui.tar.gz
/bundle/npm-cache.tar.gz
/bundle/gui-build.tar.gz
/bundle/node-gyp-cache.tar.gz
/bundle/package-lock.*.json

# VM: образы, рантайм, кэши
/vm/images/
/vm/run/
/vm/cache/*
!/vm/cache/verdaccio.yml

# IDE / misc
*.swp
*.swo
*~
.DS_Store
